body {
  width: $mobile-width-only;
}

.header {
  position: relative;


  &__background {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50);
  }

  &__background-girl {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50);

  }
}
