.page {
  min-height: 100vh;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content max-content;
  font-family: var(--second-font);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--light_black);
  background-color: var(--white);
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.page__visually-hidden {
  position: absolute;
  transform: scale(0);
}

.page__leveler {
  --page-indent: 20px;
  --scrollbar-size: calc(100vw - 100%);
  margin-inline: var(--page-indent) calc(var(--page-indent) - var(--scrollbar-size));

  @media (min-width: $tablet-width) {
    --page-indent: 30px;
    --scrollbar-size: calc(100vw - 100%);
    margin-inline: var(--page-indent) calc(var(--page-indent) - var(--scrollbar-size));
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    margin-inline: auto;
  }
}
