:root {
  --basic-font: "Oswald", "Arial", sans-serif;
  --second-font: "Arial", "Helvetica", sans-serif;
  --green: #68b738;
  --special_green: #5eaa2f;
  --green_opacity: rgba(104, 183, 56, 0.85);
  --bg_menu: #63a73c;
  --white: #ffffff;
  --white_opacity: #8ec36d;
  --line_grey: #d9d9d9;
  --line_menu: #e6e6e6;
  --light_grey: #f2f2f2;
  --grey: #ebebeb;
  --dark_grey: #cdcdcd;
  --special_grey: #eaeaea;
  --scale_grey: #dcdcdc;
  --outline_grey: #e7e7e7;
  --super_grey: #bababa;
  --dark: #666666;
  --light_black: #444444;
  --black: #222222;
  --dark_black: #111111;
  --super_black: #000000;
  --rose: #ff8282;
}
